nav {
  background-color: #0f4b07;
  color: #FFFFFF;
  font-size: 0.9rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.44rem;
  gap: 0.44rem;
  max-width: 100%;
}

.trip {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.19rem;
  max-width: 80%;
}

.trip-list {
  display: flex;
  flex-direction: column;
  gap: 2.25rem;
  align-items: center;
  max-width: 100%;
}

.trip--cover {
  width: 10rem;
  border-radius: 0.31rem;
  max-width: 100%;
}

.trip--location {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: 0.2rem;
  font-size: 0.8rem;
}

.trip--location-url {
  color: #918E9B;
  margin-left: 0.55rem;
}

.trip--location-name {
  letter-spacing: 0.11rem;
  text-transform: uppercase;
}

.trip--location img {
  width: 0.6rem;
  filter: invert(18%) sepia(69%) saturate(979%) hue-rotate(75deg) brightness(96%) contrast(97%);
}

.trip--title {
  margin-top: 0.3rem;
}

.trip--dates {
  font-weight: 700;
}

.trip--description {
  width: 100%;
}

@media (min-width: 700px) {
  .trip {
    flex-direction: row;
  }
}